$kendo-font-size:	14px;

$kendo-color-primary: #840b55;
$kendo-color-primary-darker:#5f093e;
$kendo-color-secondary:#666666;
$kendo-color-tertiary:#227b8b;
$kendo-color-info:#0057b8;
$kendo-color-success: #4a773c;
$kendo-color-warning: #e57200;
$kendo-color-error: #e4002b;
$kendo-color-light: #faf9f9;
$kendo-body-text: #2d2926;
$kendo-base-bg:  #faf9f9;

$kendo-component-border: #bcbcbc;

//additional colors

$kendo-color-grey: #d9d9d9;
.k-bg-grey {
    background-color: $kendo-color-grey;
}