@font-face {
  font-family: "RobustaTLPro-Regular";
  src: url(../fonts/356EBC_27_0.woff2) format("woff2"),
    url(../fonts/356EBC_27_0.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "RobustaTLPro-Medium";
  src: url(../fonts/356EBC_29_0.woff2) format("woff2"),
    url(../fonts/356EBC_27_0.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "RobustaTLPro-Bold";
  src: url(../fonts/356EBC_2B_0.woff2) format("woff2"),
    url(../fonts/356EBC_2B_0.woff) format("woff");
  font-display: swap;
}

.k-card {
  margin-bottom: 15px;
}
.k-notification {
  > .k-font-icon {
    font-size: 25px;
    margin-left: 5px;
  }
  .k-notification-content {
    font-size: $kendo-font-size;
    padding: 10px;
  }
}

.k-listgroup {
  .k-link {
    justify-content: space-between;
    &:hover {
      background-color: #555;
      color: white;
    }
  }
}

.k-expander-title {
  color: $kendo-color-dark;
}

.k-breadcrumb {
  background: transparent;
  .k-breadcrumb-link {
    color: #06c;
    text-decoration: underline;
  }
  .k-breadcrumb-last-item {
    a {
      color: $kendo-body-text;
    }
  }
}

.k-bg-grey {
  background-color: $kendo-color-grey;
}

.k-bg-primary-darker {
  background-color: $kendo-color-primary-darker;
}

h1,
.h1 {
  font-size: $kendo-font-size-xl;
  font-weight: $kendo-font-weight-medium;
}

h2,
.h2 {
  font-size: $kendo-font-size-lg;
  font-weight: $kendo-font-weight-medium;
}

h3,
.h3 {
  font-size: $kendo-font-size-md;
  font-weight: $kendo-font-weight-medium;
}

h4,
.h4 {
  font-size: $kendo-font-size-md;
  font-weight: $kendo-font-weight-medium;
}

h5,
.h5 {
  font-size: $kendo-font-size-md;
  font-weight: $kendo-font-weight-medium;
}

h6,
.h6 {
  font-size: $kendo-font-size-md;
  font-weight: $kendo-font-weight-medium;
}

.k-form {
  .k-form-field {
    > .k-label {
      font-weight: 600;
    }
    > kendo-label {
      font-weight: 600;
    }
  }
  .k-form-label {
    font-weight: 600;
  }
}
