$kendo-color-primary: #840b55;
$kendo-color-primary-darker:#5f093e;
$kendo-color-secondary:#666666;
$kendo-color-tertiary:#227b8b;
$kendo-color-info:#0057b8;
$kendo-color-success: #4a773c;
$kendo-color-warning: #e57200;
$kendo-color-error: #e4002b;
$kendo-color-light: #faf9f9;
$kendo-body-text: #2d2926;
$kendo-base-bg:  #faf9f9;
$kendo-component-border: #bcbcbc;
$kendo-input-hover-border: $kendo-color-secondary;

//additional colors

$kendo-color-grey: #d9d9d9;


$kendo-font-size-xs: 0.7rem !default;
$kendo-font-size-sm: 0.8rem !default;
$kendo-font-size:	0.9rem !default;
$kendo-font-size-md: $kendo-font-size !default;
$kendo-font-size-lg: 1.1rem !default;
$kendo-font-size-xl: 1.2rem !default;

$kendo-font-family-sans-serif: 'RobustaTLPro-Regular';








